:root{
    --background:  #2b2b2b;
    --light-grey: #7d7d7db3;
    --term: #000;
    --text: #fff;
    --text2: #fff;
    --shadow-opaque: #000;
    --shadow-hi: #000000b3;
    --shadow-mid: #00000080;
    --shadow-low: #00000033;
    --header: #ffffff2a;
    --subheader: #3b3b3b;
    --disabled-button: #694646;
    --closebtn: #9a1212;
    --maxbtn: #9a8c12;
}
